body {
  background: #4a60b9;
  background-size: auto;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1b1725;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}
.grid-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto;
  background-color: #818181;
  padding: 0px;
}
.grid-item {
  background-color: #e7ecef;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}
#graphpic1 {
  width: auto;
  height: 200px;
  border: 1px solid #818181;
  border-radius: 4px;
  padding: 5px;
}
#graphpic1:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.texthome {
  margin: 5px;
}
