{% extends "header.html" %}
{% block content %}
<body id="challengebody">
<div class="login-page">
	<div class="form">
			<form action="/challenge" method="post">
			<input type="text" placeholder="Your username" name="challengeStarter"></input>
			<input type="text" placeholder="Challenger's username" name="challengeOpponent"></input>
			<input type="int" placeholder="Goal amount to save." name="goal"></input>
			<input type="submit" action="/challenge" value="Challenge!"></input>
		  </form>
	</div>
</div>
</body>
{% endblock %}