{% extends "header.html" %} {% block content %}
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/home.css') }}"
  />
</head>
<body>
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
      >&times;
    </a>
    <img
      src="/static/userimage.png"
      alt="User Image"
      style="width: 75px; height: 75px; padding-left: 40px;"
    />
    <a href="#">Friends</a>
    <a href="challenge" action="/home/challenge">Challenges</a>
    <a href="#">Settings</a>
    <a href="#">About</a>
    <a href="/">Sign out</a>
    
  </div>

  <div id="main">
    <span style="font-size:30px;cursor:pointer" onclick="openNav()"
      >&#9776;</span
    >
  </div>
  <div class="grid-container">
    <div class="grid-item" id="graph">
      <p class="texthome">Your Withdrawal History {{user_full_name}}</p>
      <a target="_blank" href="{{user_withdrawal_graph}}">
        <img
          src="{{user_withdrawal_graph}}"
          alt="balance graph"
          id="graphpic1"
        />
      </a>
    </div>
    <div class="grid-item" id="graph">
      <p class="texthome">Your Balance History {{user_full_name}}</p>
      <a target="_blank" href="{{user_balance_graph}}">
        <img src="{{user_balance_graph}}" alt="balance graph" id="graphpic1" />
      </a>
    </div>
    <div class="grid-item" id="accountinfo">
      <p class="texthome">Your Opponent Balance {{opponent_full_name}}</p>
      <a target="_blank" href="{{opponent_balance_path}}">
        <img
          src="{{opponent_balance_path}}"
          alt="balance graph"
          id="graphpic1"
        />
      </a>
    </div>
    <div class="grid-item" id="transactions">
      <p class="texthome">Opponent Withdrawal {{opponent_full_name}}</p>
      <a target="_blank" href="{{opponent_withdrawal_path}}">
        <img
          src="{{opponent_withdrawal_path}}"
          alt="withdrawal graph"
          id="graphpic1"
        />
      </a>
    </div>
    <div class="grid-item" id="current_battles"><table>
      <tr id="battles_table"><td>Opponent</td><td>Goal</td></tr>
      {% for challenge in challenge_table %}
        </td><td>{{challenge[2]}}</td><td>{{challenge[6]}}
        </td></tr>
        {% endfor %}
      </table>
    </div>
    <div class="grid-item" id="badges_separate">
      <div class="badges_box">
        <h3>Bronze: 4</h3>
      <img src="/static/bronze.png" alt="bronze medal" class="badge_icons">
      </div>
      <div class="badges_box">
        <h3>Silver: 3</h3>
      <img src="/static/silver.png" alt="silver medal" class="badge_icons">
      </div>
      <div class="badges_box">
        <h3>Gold: 2</h3>
      <img src="/static/gold.png" alt="gold medal" class="badge_icons">
      </div>
    </div>
  </div>
  <script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
      document.getElementById("main").style.marginLeft = "250px";
      document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
    }

    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
      document.getElementById("main").style.marginLeft = "0";
      document.body.style.backgroundColor = "#4a60b9";
    }
  </script>
</body>
{% endblock %}
