{% extends "header.html" %}
{% block content %}
<div class="container">
	<p id="test">HELLO {{username}}</p>
	<a href="home.html">HOME PAGE</a>
	<form action="/signup" method="post">
		<input type="text" name="firstname"></input>
		<input type="text" name="lastname"></input>
		<input type="text" name="username"></input>
		<input type="text" name="password"></input>
		<input type="submit" value="Signup"></input>
	  </form>


	  <form action="/signin" method="post">
		<input type="text" name="username"></input>
		<input type="text" name="password"></input>
		<input type="submit" value="Signin"></input>
	  </form>
</div>

{% endblock %}