{% extends "header.html" %}
{% block content %}
<div class="login-page">
	<div class="form">
		<h1>Uh oh! It looks like you haven't registered with Budget Battles Yet!</h1>
		<p>Sign Up, by submitting your information, and we'll automatically connect your Capital One account.</p>
	  <form action="/signup" method="post">
		<input type="text"  placeholder="First Name" name="firstName"></input>
        <input type="text"  placeholder="Last Name" name="lastName"></input>
        <input type="text"  placeholder="Username" name="username"></input>
        <input type="password"  placeholder="Password" name="password"></input>
        <input type="submit" action="/signup" value="Sign up"></input>
		<div id="button"><a href="index">Have an account? Sign in!</a></div>
	  </form>
</div>
	
{% endblock %}