{% extends "header.html" %}
{% block content %}
<div class="login-page">
	<div class="form">
		<p>Sign Up</p>
	  <form action="/signup" method="post">
		<input type="text"  placeholder="First Name" name="firstName"></input>
        <input type="text"  placeholder="Last Name" name="lastName"></input>
        <input type="text"  placeholder="Username" name="username"></input>
        <input type="text"  placeholder="Password" name="password"></input>
        <input type="submit" action="/signup" value="Sign up"></input>
		<div id="button"><a href="index">Have an account? Sign in!</a></div>
	  </form>
</div>

{% endblock %}